.config-controller-container {
  background-color: #475569;
  display: flex;
  justify-content: center;
}

.controllers-body {
  width: 80%;
  max-width: 1000px;
}
.app-title {
  color: #ffffff;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .app-title {
    font-size: 36px;
  }
}

.checkbox-inputs-list {
  list-style-type: none;
  padding-left: 0px;
}
.input-list-item {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.checkbox-label {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 10px;
  font-size: 14px;
}
